<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508590711769-gifrp9nhtj9q2c3katc64v4d8e3lntuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508590711769-gifrp9nhtj9q2c3katc64v4d8e3lntuc</string>
	<key>API_KEY</key>
	<string>AIzaSyDcOvSNZU8KJUtI00VR4RY5SZUWpjsp1H4</string>
	<key>GCM_SENDER_ID</key>
	<string>508590711769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatappios-feefa</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappios-feefa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508590711769:ios:b6bd9e2e7f3faae0b66fc8</string>
</dict>
</plist>